source ~/vimfiles/vimrc

nnoremap <Leader>t :action GotoSymbol<CR>
nnoremap <Leader>f :action GotoFile<CR>
nnoremap <Leader>b :action RecentChangedFiles<CR>

nnoremap <Leader>q :action CloseEditor<CR>

set showmode
set surround


" Move between open buffers.
nmap <C-n> :action NextTab<CR>
nmap <C-p> :action PreviousTab<CR>
nnoremap <Leader>. :action Switcher<CR>


" Navigation cursors in insert mode
inoremap <C-k> <Up>
inoremap <C-j> <Down>
inoremap <C-l> <Right>
inoremap <C-h> <Left>


" Reformat code
nnoremap gqq :action ReformatCode<CR>
vnoremap gqq :action ReformatCode<CR>


" When pasing text over a selection, do keep the original text in the clipboard. Note, we have a
" similar thing in .vimrc, however the vimrc variant is not supported by ideavim and hence we fall
" back here to the less robust (cursor positioning is inconsistent when doing this at the end of a
" line) version.
vnoremap p "_dP`]


set clipboard+=ideaput
